vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Apr 2008 16:55:39 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|HONEYWELL\\E718225
vti_modifiedby:SR|HONEYWELL\\e718225
vti_timecreated:TR|22 May 2007 04:59:18 -0000
vti_backlinkinfo:VX|AcutePath/outbox/outtabox/outtabox/index.html
vti_nexttolasttimemodified:TW|29 Apr 2008 16:19:47 -0000
vti_cacheddtm:TX|29 Apr 2008 16:55:39 -0000
vti_filesize:IR|2873
vti_cachedlinkinfo:VX|S|images/img01_new.gif S|images/img02.gif S|images/img06.gif S|images/img05.gif S|images/img07.gif S|images/img04.gif
vti_cachedsvcrellinks:VX|FSUS|AcutePath/outbox/outtabox/outtabox/images/img01_new.gif FSUS|AcutePath/outbox/outtabox/outtabox/images/img02.gif FSUS|AcutePath/outbox/outtabox/outtabox/images/img06.gif FSUS|AcutePath/outbox/outtabox/outtabox/images/img05.gif FSUS|AcutePath/outbox/outtabox/outtabox/images/img07.gif FSUS|AcutePath/outbox/outtabox/outtabox/images/img04.gif
